@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-compact :where(p, ul, ol) {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.prose-compact :where(h1, h2, h3, h4) {
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}